@import "normalize.css";

#root {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  /* min-height: calc(100vh - 100px); */
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}
